<p>Carros del señor(a) <%= @persona.nombre %></p>

<table class="table">
  <tr>
    <th>Placa</th>
  </tr>
  <%= render @carros %>

</table>

<%= link_to "Nuevo carro", new_persona_carro_path(@persona) %>
