<div class="row">
  <div class="col-md-6">
    <dl>
      <dt>Cedula</dt>
      <dd><%= @persona.cedula %></dd>
      <dt>Nombre</dt>
      <dd><%= @persona.nombre %></dd>
      <dt>Email</dt>
      <dd><%= @persona.email %></dd>
    </dl>

  <%= link_to "Ver todos", personas_path %>

  </div>
</div>
